*,
*:before,
*:after {
  box-sizing: border-box;
}
section {
  margin: .5em;
  padding: 1em;
  background: gainsboro;
  border-radius: .25em;

  display: flex;
  flex-direction: column;
  align-items: center;

}
section > * {
  margin: 0;
}
section > * + * {
  margin-top: .5em;
}
 
h1 {
  color: steelblue;
  border-bottom: 1px dotted;
}
 
ul {

    margin: 0;
    padding: 0;  
  list-style: none;
  padding-left: 0;
  line-height: 1.5em;
}

.list {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

  } 
   
  h1 {
    color: steelblue;
    border-bottom: 1px dotted;
  }
   
  ul {
    list-style: none;
  }
  section {
    display: flex;
  }
  